@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

//colors
$text-color: #444;
$link: #d17436;
$link-hover: #e6a87f;


//margins
$margin: 175px;
$margin-total: $margin + $margin;
$tablet_margin: 80px;
$tablet_margin-total: $tablet_margin + $tablet_margin;
$mobile_margin: 35px;
$mobile_margin-total: $mobile_margin + $mobile_margin;


//fonts
$font: Montserrat, sans-serif;

$font-size-mainnav: 35px;
$font-size-mainnav_phone: 25px;
$font-size-home: 45px;
$font-size-home_phone: 25px;
$font-size-page: 31px;
$font-size-page_phone: 20px;
$font-size-header: 75px;
$font-size-header_tablet: 50px;
$font-size-subhead: 2.3em;
$font-size-subhead_phone: 1.7em;
$font-size-menu: 50px;
$font-size-menu_tablet: 40px;
$font-size-menu_phone: 35px;
$font-size-footer: 12px;




body {
    color: $text-color;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: $font;
}

main, footer {
    margin-left: $margin;
    margin-right: $margin;
    max-width: 1500px;
}

footer {
    display: flex;
    align-items: center;
    height: 20vh;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: $font-size-mainnav;
    height: 120px;
    position: absolute;
    top: 0;
    width: calc(100% - #{$margin-total});
    margin-left: $margin;
    margin-right: $margin;
    max-width: 1500px;
}

.main-nav_alt {
    color: $text-color;
}

.nav-title {
    z-index: 2;
}

#header-container {
    width: 100vw;
    height: 70vh;
    background-size: cover;
    margin-left: -$margin;
    overflow:hidden;
    display: flex;
    place-items: center;

}

#header-container_text {
    height: 50vh;
    display: flex;
    align-items: center;
    font-size: $font-size-header;
    margin-top: 120px; //offset for nav bar
}

#header-container:after {
    background-color: black;
    opacity: 0.2;
    content: "";
    width: 100%;
    height: 70vh;
    display: block;
    position: absolute;
}

.header-container_content img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#text-section {
    margin-top: 10%;
}

#text-section_alt {
    margin: 0;
}

.text-container, .text-container_alt {
    width: 75%;
}

.text-container_alt img {
    max-width: 100%;
    margin-bottom: 10%;
}

.text-container_alt a {
    color: #d17436;
    font-weight: bold;
}

#references p {
    margin-bottom: 5%;
    font-size: 20px;
}

.text-container p {
    font-size: $font-size-home;
    margin-bottom: 15%;
    line-height: 1.5em;
}

.text-container_alt p {
    font-size: $font-size-page;
    margin-bottom: 15%;
    line-height: 1.7em;
}

.subhead {
    font-weight: bold;
    font-size: $font-size-subhead;
}

.text-container a {
    font-size: 60px;
    color: $link;
    transition: .5s ease;
}

.text-container a:hover {
    color: $link-hover;
}

.hamburger {
    cursor: pointer;
    z-index: 9;
}

.line {
    width: 2.5rem;
    height: 2px;
    background: white;
    margin-bottom: 13px;
    margin-top: 13px;
}

.line_alt {
    width: 2.5rem;
    height: 2px;
    margin-bottom: 13px;
    margin-top: 13px;
    background: $text-color;
}

/* .menu {
    width: 100vw;
    height: 100vh;
    background: $link;
    color: white;
    position: fixed;
    top: 0;
    transition: ease .2s;
    z-index: 10;
} */

.menu {
    z-index: 3;
    position: fixed;
    background: #222;
    height: 100vh;
    width: 100%;
    top: -2000px;
    margin: 0;
    padding: 0;
}

.data {
    margin: 0 0 0 $margin;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

ul {
    list-style: none;
}

.menu a {
    font-size: $font-size-menu;
    margin-bottom: 4%;
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.menu a:hover {
    color: #bbb;
}

.active {
    position: fixed;
    right: $margin;
}

.bottom {
    font-size: $font-size-footer;
    margin-bottom: 5%;
}

.bottom a {
    text-decoration: none;
    font-size: $font-size-footer;
}

.competency-text {
    color: #378ec1;
    font-weight: bold;
}

.anchors {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    font-size: 20px;
}

.anchors a {
    margin-top: 10px;
    color: $link;
}

.anchors a:hover {
    color: $link-hover;
}



#cd-vertical-nav {
    position: fixed;
    right: 40px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
#cd-vertical-nav li {
    text-align: right;
  }
#cd-vertical-nav a {
    display: inline-block;
    /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
#cd-vertical-nav a:after {
    content: "";
    display: table;
    clear: both;
  }
#cd-vertical-nav a span {
    float: right;
    display: inline-block;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
  }
#cd-vertical-nav a:hover span {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
#cd-vertical-nav a:hover .cd-label {
    opacity: 1;
  }
#cd-vertical-nav a.is-selected .cd-dot {
    background-color: #d17436;
  }
#cd-vertical-nav .cd-dot {
    position: relative;
    /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
    top: 8px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $text-color; //d88683
    -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
    -moz-transition: -moz-transform 0.2s, background-color 0.5s;
    transition: transform 0.2s, background-color 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
#cd-vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: .4em .5em;
    color: $text-color;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }




@media only screen and (max-width: 900px) {
    main, footer {
        margin-left: $tablet_margin;
        margin-right: $tablet_margin;
    }

    .text-container, .text-container_alt {
        width: 100%;
    }

    .data {
        margin: 0 0 0 $tablet_margin;
    }

    .main-nav {
        width: calc(100% - #{$tablet_margin-total});
        margin-left: $tablet_margin;
        margin-right: $tablet_margin;
    }

    .active {
        right: $tablet_margin;
    }

    #header-container {
        margin-left: -$tablet_margin;
    }

    .menu a {
        font-size: $font-size-menu_tablet;
    }

    #header-container_text {
        font-size: $font-size-header_tablet;
    }
}

@media only screen and (max-width: 450px) {
    main, footer {
        margin-left: $mobile_margin;
        margin-right: $mobile_margin;
    }

    .data {
        margin: 0 0 0 $mobile_margin;
    }

    .main-nav {
        width: calc(100% - #{$mobile_margin-total});
        margin-left: $mobile_margin;
        margin-right: $mobile_margin;
        font-size: $font-size-mainnav_phone;
    }

    .active {
        right: $mobile_margin;
    }

    #header-container {
        margin-left: -$mobile_margin;
    }

    .menu a {
        font-size: $font-size-menu_phone;
        margin-bottom: 8%;
    }

    #text-section > .text-container p:first-child {
        font-size: 30px;
    }

    #text-section > .text-container p {
        font-size: $font-size-home_phone;
    }

    .text-container p, .text-container_alt p {
        font-size: $font-size-page_phone;
    }

    .subhead {
        font-size: $font-size-subhead_phone;
    }

    .text-container a {
        font-size: 35px;
    }

    #cd-vertical-nav {
        top: 90%;
    }
}